<p></p>
<div class="chip">
    <img src="../../assets/icon-user-default.png" alt="Contact Person"> <b>{{userLogin.fullname}}</b> - <b>{{userLogin.positionLocalName}}</b>
</div>

<app-send-multiple-form
[isSaving]="isSaving" 
[isLoading]="isLoading" 
[listPatients]="listPatients"
(patientSearch)="searchPatient($event)"
(patientRemove)="removePatient($event)" 
(patientSave)="savePatient()"
(changePositionToSend)="positionToSendChanged($event)" 
(ddlsendtouser)="ddlsendtouserSelect($event)" 
[sendtouser]="sendtouser" 
[position]="position"
>    
</app-send-multiple-form>