nav {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%; 
}

@media only screen and (max-width: 1310px) {
  nav a.button-collapse {
    display: block;
  }
}

@media only screen and (max-width: 1310px) {
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  nav .brand-logo.left, nav .brand-logo.right {
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
  nav .brand-logo.left {
    left: 0.5rem;
  }
  nav .brand-logo.right {
    right: 0.5rem;
    left: auto;
  }
}

@media only screen and (max-width: 1310px) {
  .hide-on-med-and-down {
    display: none !important;
  }
}