<p></p>
<div class="chip">
    <img src="../../assets/icon-user-default.png" alt="Contact Person"> <b>{{userLogin.fullname}}</b> - <b>{{userLogin.positionLocalName}}</b>
</div>

<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content">
        <p>
          Displaying {{cc}} position.
        </p>

        <table class="bordered striped highlight">
          <thead>
            <tr>
              <th data-field="name">No</th>
              <th data-field="name">Name</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of positions; let i = index">
              <td>{{i+1}}</td>
              <td>{{item.localname}}</td>
              <td *ngIf="userLogin.username=='NUZZ'">
                <a (click)="update(item,$event)" href="">
                  <i class="material-icons">mode_edit</i>
                </a>
              </td>
              <td *ngIf="userLogin.username=='NUZZ'">
                <a (click)="delete(item,$event)" href="">
                  <i class="material-icons">delete</i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()">
    <div class="modal-content">
      <h4>{{modalHeader}}</h4>
      <input [(ngModel)]="position.id" type="hidden" formControlName="id">
      <input [(ngModel)]="position.englishname" type="hidden" formControlName="englishname">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">question_answer</i>
          <input id="localname" type="text" class="validate" [(ngModel)]="position.localname" formControlName="localname" [class.invalid]="form.controls['localname'].touched && !form.controls['localname'].valid">
          <label for="localname" [class.active]="position.localname">Local Name</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
      <button class="btn waves-effect waves-light modal-action modal-close" type="submit" [disabled]="!form.valid">
      Submit<i class="material-icons right">send</i>
    </button>
    </div>
  </form>
</div>

<div *ngIf="userLogin.username=='NUZZ'" class="fixed-action-btn horizontal">
  <!-- Modal Trigger -->
  <a (click)="add()" class="btn-floating btn-large waves-effect waves-light green">
    <i class="large material-icons">add</i>
  </a>
</div>