<div class="row margin">
  <div class="input-field col s12">
    <i class="material-icons prefix">perm_identity</i>
    <input (keyup.enter)="btnlogin()" autocomplete="off" id="username" name="username" type="text" class="validate" [(ngModel)]="user.username">
    <label for="username" [class.active]="username">User Name</label>
  </div>
</div>
<div class="row margin">
  <div class="input-field col s12">
    <i class="material-icons prefix">lock_outline</i>
    <input (keyup.enter)="btnlogin()" id="password" type="password" name="password" class="validate" [(ngModel)]="user.password">
    <label for="password" [class.active]="password">Password</label>
  </div>
</div>
<div *ngIf="isLoading" class="col s12 center">
  <img  width="25px" height="25px" src="../../../assets/loading.gif">
</div>
<div class="row margin">
  <div class="input-field col s12">
    <button (click)="btnlogin()" class="btn waves-effect waves-light col s12">เข้าสู่ระบบ</button>
  </div>
</div>