<div class="input-field col s12">
  <button (click)="changePassword()" class="btn waves-effect waves-light blue accent-1 col s12">เปลี่ยนรหัสผ่าน</button>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
      <h4>Change Password</h4>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="newpassword" name="newpassword" type="password" class="validate" [(ngModel)]="pwd.newpassword">
          <label for="newpassword" [class.active]="pwd.newpassword" data-error="newpassword is require.">รหัสผ่านใหม่</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input id="newpasswordConfirm" name="newpasswordConfirm" type="password" class="validate" [(ngModel)]="pwd.newpasswordConfirm">
          <label for="newpasswordConfirm" [class.active]="pwd.newpasswordConfirm" data-error="Confirm New Password is mismatch.">ยืนยัน รหัสผ่านใหม่</label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="waves-effect waves-green btn-flat" (click)="closeModal()">Close</a>
      <button (click)="saveChangePassword()" class="btn waves-effect waves-light modal-action modal-close" [disabled]="!changePasswordValid()">
      Submit<i class="material-icons right">send</i>
    </button>
    </div>
</div>